.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
fastcompmgr
*.o
*.d
/tests/test_comp_rect
/tests/test_ringbuffer
/tests/test_ringbuffer_no_modulo
/tests/test_x11_window_lifecycle
*~
.geany
